.header {
  background-color: #f8f9fa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 5px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  .logo {
    .logo-img {
      width: 170px; // Adjust as needed
      height: auto;
    }
  }

  .search-container {
    flex: 1;
    max-width: 600px;

    .input-group {
      input {
        border-radius: 20px 0 0 20px;
      }
      button {
        border-radius: 0 20px 20px 0;
      }
    }
  }

  .profile {
    .user-icon {
      width: 40px; // Adjust as needed
      height: auto;
    }
  }

  @media (max-width: 768px) {
    .search-container {
      max-width: 80%;
      margin: 20px auto 10px auto;
    }

    .profile {
      .user-icon {
        width: 30px; // Adjust as needed
      }
    }
  }
}
