@media (min-width: 768px) {
  .venue-listing {
    width: 50% !important;
  }
  .card {
    .venue-image-container {
      min-height: 200px;
    }
    .venue-image {
      max-height: 200px; /* Limit the height to prevent overly tall images */
    }
  }
}
@media (min-width: 1150px) {
  .venue-listing {
    width: 33% !important;
  }
}
@media (min-width: 1500px) {
  .venue-listing {
    width: 25% !important;
  }
}
@media (max-width: 768px) {
  .venue-listing {
    min-width: 350px;
  }
  .card {
    .venue-image {
      max-height: 350px; /* Limit the height to prevent overly tall images */
    }
  }
}

.venue-listing {
  .card-address {
    margin: -10px 0 0 30px;
  }
  .group-grey-offshift .grey-text {
    margin: -5px 0 0 30px;
  }
  .card {
    min-height: 490px;
    .venue-image-container {
      .venue-image {
        width: 100%; /* Ensure the image spans the full width of its container */
        object-fit: cover; /* Ensures the image covers the container without distortion */
        border-radius: 20px 20px 0 0; /* Optional: Add some rounding to soften the edges */
      }
    }
    // height: 500px !important;
    border-radius: 20px !important;
    padding-bottom: 30px !important;
  }
  .card-cta {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
