@import url("https://fonts.googleapis.com/css2?family=Lemon&display=swap");

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --cta-background-color: #4a6ebc;
  --cta-hover-color: #0056b3; /* Darker shade for hover */
  --cta-active-color: #004085; /* Even darker for active state */
  --cta-hover-text-color: #ffffff;
}
h1,
h2,
h3,
.short-description {
  font-family: "Lemon", sans-serif !important;
}

.cta-button {
  background-color: var(--cta-background-color);
  border-radius: 10px 0 10px 0; /* Removed the incorrect '!' */
  padding: 9px 17px; /* Added horizontal padding for better appearance */
  font-family: "Lemon", sans-serif !important;
  color: white;
  border: none; /* Optional: remove default border */
  transition: all 0.3s ease; /* Smooth transition for hover effects */
}

.cta-button:hover {
  background-color: var(--cta-hover-color); /* Add a hover color */
  color: var(--cta-hover-text-color, black); /* Optional text color on hover */
}

.cta-button:active {
  background-color: var(--cta-active-color); /* Add an active color */
}
